@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: white;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #580b0b;
  animation: borderGrow 0.5s ease-out forwards;
  transform-origin: left;
}

@keyframes borderGrow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.naVglass {
  background: #00000023;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.searchglass {
  /* From https://css.glass */
  background: rgba(7, 7, 7, 0.849);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(24, 24, 24, 0.24);
}

.gradient-border {
  --border-width: 1px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background: #222222;
  border-radius: 10px;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, white, black);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 10px;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
